* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: #313131;
}

.camera {
  position: relative;
}

video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.prediction {
  /* prediction is a line of word, make center of camera frame */
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: #313131;
}